.w, .t{display: none;}
/* ---------- ---------- main 배너 ---------- ---------- */
main{
    padding-top:8.3rem;
    background: #fff;
}
@media only screen and (min-width:641px) and (max-width:959px){
    main{padding-top:6rem;}
}
main>aside.m_banner{
    padding-bottom:3rem;
    max-height:48.1rem;
}
main>aside.m_banner>.centerBox{
    margin:0 auto;
    max-width:120rem;
}
main>aside.m_banner>.centerBox>video{
    width:100%; max-height:47.9rem;
}

/* ---------- ---------- main>.collections ---------- ---------- */
main>section.collections{
    margin-bottom:5rem;
    background: #fff;
}
main>section.collections>h1{
    font:bold 3rem/5rem sans-serif;
    text-align: center;
    border-bottom:0.3rem solid #e94040;
    width:10rem;
    margin: 0 auto;
}
main>section.collections>ul.centerBox{
    padding-top:1.5rem;
    display: flex;
}
main>section.collections>ul.centerBox>li{
    position:relative;
    flex:0 1 25%;
    overflow: hidden;
}
/* ---------- img.bg ---------- */
main>section.collections>ul.centerBox>li>a>img.bg{
    width:100%;
    height:100%;
}

/* ---------- img.bg_over ---------- */
main>section.collections>ul.centerBox>li>a>img.bg_over{
    position:absolute; top:0; left:0;
    width:100%;
    opacity:0;  
    transition:0.5s ease; 
}

/* ---------- img.object ---------- */
main>section.collections>ul.centerBox>li>a>img.object{
    position:absolute; right:-3rem; bottom:0;
    transition:0.5s ease;
}
main>section.collections>ul.centerBox>li:nth-of-type(1)>a>img.bg{height:82.5%;}
main>section.collections>ul.centerBox>li:nth-of-type(2)>a>img.bg{height:82.5%;}
main>section.collections>ul.centerBox>li:nth-of-type(3)>a>img.bg{height:82.5%;}
main>section.collections>ul.centerBox>li:nth-of-type(4)>a>img.bg{height:82.5%;}
/* ---------- main>.products 이벤트 ---------- */
main>section.collections>ul.centerBox>li:hover>a>img.bg_over{
    opacity: 1;
}

/* ---------- ---------- main>.middle ---------- ---------- */
section.middle>div.centerBox{
    padding:0 1.5rem;
}

/* ---------- .introduce ---------- */
section.middle section.introduce{
    width:100%;
    margin-bottom: 8rem;
}
section.middle section.introduce>h1{
    font:bold 3rem/5rem sans-serif;
    text-align: center;
    border-bottom:0.3rem solid #e94040;
    width:20rem;
    margin: 0 auto;
}
section.middle section.introduce>dl{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width:100%;
    padding-top:1.5rem;
}
section.middle section.introduce>dl>div{
    margin-bottom:5rem;
    height:27rem; width:20rem;
    background: #222;
}
section.middle section.introduce>dl>div dt{
    padding:2rem;
}
section.middle section.introduce>dl>div dt>a{
    font-size:1.6rem; line-height:2.4rem;
    font-weight: bold;
    color:#fff;
}
section.middle section.introduce>dl>div dd>a{
    font-size:1.4rem; line-height:2.2rem;
    color:#fff;
}
section.middle section.introduce>dl>div>dd:first-of-type{
    margin-bottom:1rem;
    padding:0 2rem;
    height:4.4rem;
}
section.middle section.introduce>dl>div>dd img{
    width:100%;
}
@media only screen and (min-width:641px) and (max-width:959px){
section.middle section.introduce>dl>div{
    margin-bottom:3rem;
}
}
/* ---------- ---------- main>.scroll_top ---------- ---------- */
main>div>p.scroll_top{
    position: fixed; right:1.5rem; bottom:5rem; z-index: 101;
    width:5rem; height:5rem;
    background: url(../../imgs/main/btn_top.png) no-repeat 0 0;
    cursor: pointer;
}